body { background-image:  url("https://cdn.hipwallpaper.com/m/34/2/wbNgmd.jpg"); 
    background-size:100%;
    height: 100%;
    width:100%;
}

html{
    color: white;
}

header{
    text-align: center;
    font-weight: bold;
    padding: 2% 0;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.5) ;
    color: white;
    margin: auto;
    font-size: 50px;
    vertical-align: middle;
}

.w-col{
    width: 10%;
    font-family: 'Open Sans', sans-serif;
    text-align: center; 
}

.header-bold {
    font-weight: bold;
}

.wp{
    text-align: center; 
    margin-bottom: 0.1rem;
}

.form-group{
    margin: 0 auto !important;
}

#maparea{
    margin-top: 4%;
  
}

img{
    max-width: 100%;
}

#weatherarea{
    width: 100%;
    height: 200px;
    background-color:rgba(0, 0, 0, 0.5) ;
    margin-left: 2%;
    margin-bottom: 2%;
    border-radius: 20px;
    margin-top: 4%;
    margin-right: 2%;
    padding: 1%;
    overflow-y: auto;    
}

.table-sm{
    background-color:rgba(0, 0, 0, 0.5);
}

.table-md{
    background-color:rgba(0, 0, 0, 0.5) ;
    font-family: 'Open Sans', sans-serif;
}

#eventsarea{
    width: 100%;
    margin-top: 4%; 
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    height: 200px;
    background-color:rgba(0, 0, 0, 0.5) ;
    border-radius: 20px;
    overflow-y: auto;  
    padding: 1%;  
}
  


    

